/* Wellness Plan Styles Home Page */

body {
    background-color: #327570;
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(12, 1fr);
    grid-gap: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 10px ;
    width: auto;
    height: auto;
    }
header {
    width: 100%;
	height:100px;
    grid-column: 1/13 ;
    grid-row: 1/1; 
    /* background:#b4f7f1; */
    padding: 25px 50px;
    /* z-index: 1; */
    }
.logo {
    width:200px;
	height:190px;
    display: flex;
    padding: auto;
    margin-bottom: auto; 
    justify-self: auto;
    align-self: auto;
    /* z-index: 1; */
    }
/* #logo_position{
    grid-column: 13/13;
    grid-row: 1/1;
} */

#tabs {
    grid-column: 1/13;
    grid-row: 1/1;
	width:130%;
	height:150px;
	background:white;
	font-size:93%;
    margin: auto 0;
    /* z-index: -1; */
	}

#tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}

#tabs li {
	display:inline;
	margin: 60%;
	padding:0;
	}

#tabs a {
	float:left;
	background:#327570;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}

#tabs a span {
	float:left;
	display:block;
	background:#b4f7f1;
	padding:5px 15px 4px 6px;
	color:#464E42;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
	color:white;
	}

#tabs a:hover {
	background-position:0% -42px;
	}

#tabs a:hover span {
	background-position:100% -42px;
	}  
.home-grid {
    grid-column: 1/10;
    grid-row: 1/9;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 30px;
    padding: 1em 2em;
}
.card-img {
    border: 10px solid black;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.apple-card {
    margin: 200px 0;
    grid-column: 1/2;
    grid-row: 1/1;
}
.student-card1 {
    margin: 200px 0;
    grid-column: 2/3;
    grid-row: 1/1;
}
.student-card2 {
    margin: 200px 0;
    grid-column: 3/4;
    grid-row: 1/1;
}
.msg {
    background-color: #ffa630;
    line-height: 1.5em;
    padding: 35px;
    margin: 150px 5px;
    grid-column: 1/4;
    grid-row: 2/2;
    box-shadow: 5px 5px 5px #6f7364;
}
.msg p {
    color: black;
    font-size: 0.5em;
    padding: 15px;
    padding-bottom: 15px;
}

footer {
    background-color: white;
    grid-column: 1/13;
    grid-row: 12/12;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
	height: 100px;
    padding: 25px 50px;
    margin-top: 750px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

footer a {
    color: #464E42;
    text-decoration: none;
    }
footer a:hover {
    color: #53c2b0;
    text-decoration: underline;
    }
footer p {
    color: #464E42;
    font-size: 1.2em;
    text-decoration: none;
    } 
footer p:hover {
    color: #53c2b0;
    text-decoration: underline;
     } 
/* #logo_link {
    padding-top: 5px;
    justify-self: right;
    align-self: right;
} */



