body {
    /* text-align: center; */
    background-color: rgb(235, 152, 222);
    }
img {
    width: 20%;
    display: block;
    margin: 0 auto;
}   
h1 {
    color: white;
    text-align: center; 
    font-size: 45px;
    font-family: Franklin Gothic Medium;
}
h2 {
    color: white;
    text-align: center; 
    font-size: 13px;
    margin: 0 auto;  
}
h3 {
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Franklin Gothic Medium;   
}
p {
    color: black;
    font-size: 10px;
    margin: 15em;
    font-family: Franklin Gothic Medium; 
    


    /* text-align: center;   */
}
h4 {
    color: white;
    text-align: center; 
    font-size: 30px;
}
footer p {
    font-size: 15px;
    margin: 20px auto;
    text-align: center; 
}
