body {
    /* text-align: center; */
    background-color: rgb(235, 152, 222);
    }
img {
    width: 25%;
    display: block;
    margin: 0 auto;
}   
h1 {
    color: white;
    text-align: center; 
    font-size: 40px;
    
}
p1 {
    color: white;
    text-align: right;   
}
p2 {
    color: white;
    text-align: center;   
}
p3 {
    color: black;
    /* text-align: center;   */
}
h2 {
    color: white;
    text-align: center; 
    font-size: 30px;
}
footer p {
    font-size: 15px;
    margin: 20px auto;
    text-align: center; 
}
}